html {
    height: 100%;
}

.evernote-body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #6FB536;
}

.evernote-body,
.evernote-paragraph,
.evernote-tableHeader,
.evernote-tableCell {
    font-family: "Lucida Grande","Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.evernote-body a {
    text-decoration: none;
    color: #025c1f;
}

.evernote-body a:hover {
    text-decoration: underline;
}

 h2 {
    color: #025c1f;
}

h1 {
    color: darkslategrey;
}

.evernote-panel {
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    width: 940px;
    background-color: #FFFFFF;
    box-shadow: 0 0 9px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 9px 1px -moz-rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 9px 1px rgba(0,0,0,.2);
    zoom: 100%;
}


/* parsys component */
div.par {
    clear: both;
}

div.title{
  align-content: center;  
}

div.evernote-metadata{
  margin: 10px;
}

#right-col{
   float:right;
    width:50%;
    position:relative;
    margin-bottom: 10px;
}
#left-col{
   float:left;
    width:50%;
    position:relative;
    margin-bottom: 10px;
}

#evernote-content{
  border-top-width: thick;
  border-top-color: #6FB536;
  border-top-style: groove;
  margin: 10px;
  width: 98%;
  clear: both;
}

#evernote-component {
    border-style:groove;
    border-width: 5px;
    border-color: #6FB536;
    margin: 3px;
}

div.evernote-author {
  margin-bottom: 15px;  
}

div.tags{
  display: inline;
}